cloud_id                 = "b1gi94g2i1l8jbepuv2f"
folder_id                = "b1gk62ipniaqhnvrgv06"
zone                     = "ru-central1-a"
image_id                 = "fd8gqckji8hhad5gu9rd"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
subnet_id                = "e9b4oubg4btja6kmppr2"
service_account_key_file = "key.json"
app_disk_image           = "fd84vcn9acnnid8ggm6u"
db_disk_image            = "fd8th5q9t7gaq4bp9ae2"
