cloud_id                 = "b1gi94g2i1l8jasdsadsv2f"
folder_id                = "b1gk62ipniasdfdsfvrgv06"
zone                     = "ru-central1-a"
image_id                 = "fd8gqckji8hhad123u9srd"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "e9b4oubg4btja6kasccsdr2"
service_account_key_file = "key.json"
app_disk_image           = "fd84vcn9aasdid8ggm6u"
db_disk_image            = "fd8th5q9t7gfh4bp9ae2"
